{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="display-5 fw-bold">Welcome!</h1>
    <a href="/product/create" class="btn btn-primary btn-lg" type="button">Create new product</a>
    <a href="/products/list" class="btn btn-primary btn-lg" type="button">List of products</a>
{% endblock %}
